<!-- Header -->
<app-header></app-header>
<!-- End of Header -->

<!-- Child Component -->
<router-outlet></router-outlet>
<!-- End of Child Component -->

<!-- Footer -->
<footer class="page-footer sc-footer pt-4">

  <div class="container-fluid text-center text-md-left">
    <div class="row centered">
      <div class="col-md-12">
        <img src="/assets/ball.png" style="height: 50px; width: auto;">
        <p>Rede social desportiva que publicita e interliga atletas e organizações.</p>
      </div>
      <div class="footer-copyright text-center py-3">
        <div class="container-fluid"> d
          © 2018 Copyright: <a href="https://www.MDBootstrap.com"> www.playersnet.pt</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End of Footer -->
