<div class="inner-page player">

  <table class="table-order-center" matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="Recente">Recente</th>
      <th mat-sort-header="Popular">Popular</th>
      <th mat-sort-header="Gostos">Gostos</th>
    </tr>
  </table>

  <div class="col-md-6 col-xs-12 column " *ngFor="let med of sortedData">
    <div class="callout small articles-big">
      <div class="video">
        <iframe width="100%" height="360" src="//www.youtube.com/embed/zyIgPqOpMWY" frameborder="0"
                allowfullscreen=""></iframe>
      </div>
      <div class="description">
        <p class="title">
          <br>
          <a href="/video/11523/" title="{{med.title}}">{{med.title}}</a>
          <br>
          {{med.text}}
        </p>
        <div class="authors">
          <span class="author">{{med.author}}</span></div>
        <div class="date">{{med.date}}</div>
      </div>
    </div>
  </div>
</div>
