<div class="callout meta ">
  <div class="row">
    <div class="row-left">
      <div class="player-image">
        <img [src]="viewModel.personal_info.avatar" alt="Profile image"
             title="Profile" style="left: -241.5px;">
      </div>
      <div class="profile-buttons">
        <button mat-raised-button class="btn-follow">Seguir</button>
      </div>
      <div class="personal" id="personal">
        <table class="col-md-12 personal-table">
          <tbody class="auto-height">
          <tr>
            <td class="first-td-padding" title="Idade">
              <strong>Idade</strong>
            </td>
            <td class=" first-td-padding">
              {{viewModel.personal_info.age}}
            </td>
          </tr>
          <tr>
            <td title="D. Nascimento">
              <strong>D. Nascimento</strong>
            </td>
            <td class="">
              {{viewModel.personal_info.date_of_birth}}
            </td>
          </tr>
          <tr>
            <td title="Posição">
              <strong>Posição</strong>
            </td>
            <td class="">
              {{viewModel.personal_info.positions[0]}}
            </td>
          </tr>
          <tr>
            <td title="Pé dominante">
              <strong>Pé dominante</strong>
            </td>
            <td class="">
              {{viewModel.personal_info.foot}}
            </td>
          </tr>
          <tr>
            <td title="Altura">
              <strong>Altura</strong>
            </td>
            <td class="">
              {{viewModel.personal_info.height}}
            </td>
          </tr>
          <tr>
            <td title="Peso">
              <strong>Peso</strong>
            </td>
            <td class="">
              {{viewModel.personal_info.weight}}
            </td>
          </tr>
          <tr>
            <td title="Residência">
              <strong>Residência</strong>
            </td>
            <td class="">
              {{viewModel.personal_info.residence}}
            </td>
          </tr>
          <tr>
            <td class="last-td-padding" title="País">
              <strong>País</strong>
            </td>
            <td class=" last-td-padding">
              {{viewModel.personal_info.nationality}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row-center">
      <table class="sc-stats-table">
        <tbody>
        <tr class="table_header">
          <th class="th-td-first">Liga</th>
          <th>Jogos</th>
          <th>Golos</th>
          <th>Assis.</th>
          <th>CA</th>
          <th>CV</th>
          <th>Min</th>
          <th>Vitórias</th>
          <th>Derrotas</th>
          <th class="th-td-last">Empates</th>
        </tr>
        <tr *ngFor="let stat of viewModel.current_season.stats; let _idx = index "
            class="{{ _idx % 2 ? 'tr-even': 'tr-odd'  }}">
          <td>
            <img class="league" src="{{stat.competition_avatar}}" alt="{{stat.competition_name}}">
          </td>
          <td>{{stat.games}}</td>
          <td>{{stat.goals}}</td>
          <td>{{stat.assists}}</td>
          <td>{{stat.yellow_cards}}</td>
          <td>{{stat.red_cards}}</td>
          <td>{{stat.minutes_played}}''</td>
          <td>{{stat.wins}}</td>
          <td>{{stat.losses}}</td>
          <td>{{stat.draws}}</td>
        </tr>
        </tbody>
      </table>
      <div class="profile-buttons">
        <button mat-fab class="button-image" (click)="voteSkill($event)" title="Força"
                style=" background-image :url('/assets/strong.png');"></button>
        <button mat-fab class="button-image" (click)="voteSkill($event)" title="Drible"
                style=" background-image :url('/assets/dribble.png');"></button>
        <button mat-fab class="button-image" (click)="voteSkill($event)" title="Rapidez"
                style=" background-image :url('/assets/fast.png');"></button>
        <button mat-fab class="button-image" (click)="voteSkill($event)" title="Goleador"
                style=" background-image :url('/assets/scorer.png');"></button>
        <button mat-fab class="button-image" (click)="voteSkill($event)" title="Passador"
                style=" background-image :url('/assets/passer.png');"></button>
        <button mat-fab class="button-image" (click)="voteSkill($event)" title="Muralha defensiva"
                style=" background-image :url('/assets/defender.png');"></button>
      </div>
      <div class="skills">
        <div class="data">
          <div *ngIf="chart">
            <canvas id="graph" class="chartjs-render-monitor"
                    style="display: block; width: 600px; height: 260px;"></canvas>
          </div>
        </div>
      </div>
      <div class="sc-media">
        <div *ngFor="let med of viewModel.media.slice(0,2)">
          <div class="callout small articles-big">
            <div class="video">
              <iframe width="100%" height="360" src="//www.youtube.com/embed/zyIgPqOpMWY" frameborder="0"
                      allowfullscreen=""></iframe>
            </div>
            <div class="description">
              <p class="title">
                <br>
                <a href="/video/11523/" title="{{med.title}}">{{med.title}}</a>
                <br>
                {{med.text}}
              </p>
              <div class="authors">
                <span class="author">{{med.author}}</span></div>
              <div class="date">{{med.date}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="recommendations">
        <div class="content">
          <div class="header">
            <h3 class="title">Recomendações</h3>
            <button mat-raised-button (click)="openCreateDialog()" class="btn-recommend">Recomendar
              {{viewModel.personal_info.name}}
            </button>
          </div>
          <mat-card class="card-sc"
                    *ngFor="let recommendation of viewModel.recommendations.top_5.slice(viewModel.recommendations.top_5.length - 5,viewModel.recommendations.top_5.length - 1)">
            <mat-card-header>
              <div mat-card-avatar class="profile-small-image"
                   [ngStyle]="{'background-image':  'url(' + recommendation.author.avatar + ')' }"></div>
              <mat-card-title class="headers">{{recommendation.author.name}}</mat-card-title>
              <mat-card-subtitle class="headers">{{recommendation.author.team.name}}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{recommendation.text}}
              </p>
            </mat-card-content>
          </mat-card>
          <div class="footer">
            <button mat-button (click)="openRecomendationsDialog()" class="btn-see-more">Ver mais recomendações</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row-right">
      <div class="achievements sticky-achievements" id="achievements">
        <div class="content">
          <div class="header">
            <h3 class="title centered">Crachás de {{viewModel.personal_info.name}}</h3>
          </div>
          <div class="badges" *ngIf="viewModel.achievements && viewModel.achievements.length > 0">
            <div class="image" *ngFor="let achievement of viewModel.achievements">
                <img src="{{achievement.avatar}}">
            </div>
          </div>
          <div *ngIf=" viewModel.achievements.length > 6 " class="footer">
            <button mat-button (click)="openRecomendationsDialog()" class="btn-see-more">Ver mais crachás</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
