<div style="overflow: hidden">
  <div class="player">
    <div class="player-header">
      <div class="row">
        <div class="player-info">
          <div class="team">
            <a href="#" title="Cavaliers">
              <img [src]="viewModel.avatar.type" [title]="viewModel.full_name" [alt]="viewModel.name">
            </a>
          </div>
          <h1>
            {{viewModel.full_name}}
          </h1>
        </div>
        <div class="player-menu">
          <a href="/team" title="{{viewModel.full_name}} full profile" class="current">Perfil</a>
          <a href="/teamMedia" title="{{viewModel.full_name}} videos" class="">Media</a>
          <a href="/teamStats" title="{{viewModel.full_name}} awards" class="">Estatísticas</a>
          <a href="/teamRosters" title="{{viewModel.full_name}} awards" class="">Plantel</a>
        </div>
      </div>
    </div>

    <div class="player-header-placeholder"></div>

    <div class="callout meta ">
      <div class="row">
        <div class="row-center">
          Brevemente
        </div>
      </div>
    </div>
  </div>
</div>
