<div style="overflow: hidden">
  <div class="player">
    <div class="player-header">
      <div class="row">
        <div class="player-info">
          <div class="team">
            <a href="#" title="Cavaliers">
              <img [src]="viewModel.avatar.type" [title]="viewModel.full_name" [alt]="viewModel.name">
            </a>
          </div>
          <h1>
            {{viewModel.full_name}}
          </h1>
        </div>
        <div class="player-menu">
          <a href="/team" title="{{viewModel.full_name}} full profile" class="current">Perfil</a>
          <a href="/teamMedia" title="{{viewModel.full_name}} videos" class="">Media</a>
          <a href="/teamStats" title="{{viewModel.full_name}} awards" class="">Estatísticas</a>
          <a href="/teamRosters" title="{{viewModel.full_name}} awards" class="">Plantel</a>
        </div>
      </div>
    </div>

    <div class="player-header-placeholder"></div>

    <div class="callout meta ">
      <div class="row">
        <div class="row-center">
          <table class="sc-stats-table">
            <tbody>
            <tr class="table_header">
              <th class="th-td-first">Liga</th>
              <th>Jogos</th>
              <th>Vitórias</th>
              <th>Derrotas</th>
              <th>Empates</th>
              <th>Golos</th>
              <th>Assis.</th>
              <th>CA</th>
              <th>CV</th>
              <th class="th-td-last" >Min</th>
            </tr>
            <tr class="tr-odd">
              <td>
                <img class = "league" src="./../../assets/Liga_Portugal_logo.png" alt="">
                <div class="player-stats-text">
                </div>
              </td>
              <td>23</td>
              <td>19</td>
              <td>2</td>
              <td>2</td>
              <td>20</td>
              <td>2</td>
              <td>2</td>
              <td>0</td>
              <td>454''</td>
            </tr>
            <tr class="tr-pair">
              <td>
                <img class = "league" src="./../../assets/9_imgbank_tp.png" alt="">
                <div class="player-stats-text">
                </div>
              </td>
              <td>7</td>
              <td>7</td>
              <td>0</td>
              <td>0</td>
              <td>1</td>
              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td>45''</td>
            </tr>
            <tr class="tr-odd">
              <td>
                <img class = "league" src="./../../assets/Tacadaligalogo.png" alt="">
                <div class="player-stats-text">
                </div>
              </td>
              <td>12</td>
              <td>12</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>1</td>
              <td>0</td>
              <td>0</td>
              <td>154''</td>
            </tr>
            </tbody>
          </table>
          <div class="skills">
            <div class="data">
              <div *ngIf="chart">
                <canvas id="radar" style="display: block; width: 600px; height: 260px;"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="row-right">
          <div class="roster">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
