<table class="table-order-center" matSort (matSortChange)="sortData($event)">
  <tr>
    <th mat-sort-header="Recente">Época</th>
    <th mat-sort-header="Popular">Competição</th>
    <th mat-sort-header="Gostos">Total</th>
  </tr>
</table>

<div class="row-center-matches">
  <div id="sc-scoreboard" class="team-stats-matches">
    <section>
      <a class="score-tile-wrapper" href="/match">
        <div class="score-tile score-tile-final" role="status">
          <div class="score-tile-min__wrapper">
            <div class="score-tile__top">
              27-03-2018
              <div class="score-tile-broadcaster">
                <span class="broadcaster lp">II Liga</span>
              </div>
            </div>

            <div class="team-game-score team-game-score--visitor row small-collapse">
              <div class="team-game-score__logo column small-2">
                <img alt="{{viewModel.name}} Logo" class="team-logo" src="{{viewModel.avatar}}">
              </div>
              <div class="team-game-score__name-record column small-8">
                <div class="name-record__wrapper">
                  <div class="score-tile__team-name">{{viewModel.name}}</div>
                  <div class="team-record">(48' 34' 56' 59')</div>
                </div>
              </div>
              <div class="team-game-score__score column small-2">
                <div class="team-score">4</div>
              </div>
            </div>

            <div class="team-game-score team-game-score--home row small-collapse team-game-score--loser">
              <div class="team-game-score__logo column small-2">
                <img alt="SLB Logo" class="team-logo" src="http://www.zerozero.pt/img/logos/equipas/4_imgbank.png">
              </div>
              <div class="team-game-score__name-record column small-8">
                <div class="name-record__wrapper">
                  <div class="score-tile__team-name">SL Benfica</div>
                  <div class="team-record">(35')</div>
                </div>
              </div>
              <div class="team-game-score__score column small-2">
                <div class="team-score">1</div>
              </div>
            </div>
          </div>
          <div class="sc-highlights">Diogo Pires fez hat-trick</div>
        </div>
      </a>

    </section>
    <section>
      <a class="score-tile-wrapper" href="/match">
        <div class="score-tile score-tile-final" role="status">
          <div class="score-tile-min__wrapper">
            <div class="score-tile__top">
              27-03-2018
              <div class="score-tile-broadcaster">
                <span class="broadcaster lp">II Liga</span>
              </div>
            </div>

            <div class="team-game-score team-game-score--visitor row small-collapse">
              <div class="team-game-score__logo column small-2">
                <img alt="{{viewModel.name}} Logo" class="team-logo" src="{{viewModel.avatar}}">
              </div>
              <div class="team-game-score__name-record column small-8">
                <div class="name-record__wrapper">
                  <div class="score-tile__team-name">{{viewModel.name}}</div>
                  <div class="team-record">(48' 34' 56' 59')</div>
                </div>
              </div>
              <div class="team-game-score__score column small-2">
                <div class="team-score">4</div>
              </div>
            </div>

            <div class="team-game-score team-game-score--home row small-collapse team-game-score--loser">
              <div class="team-game-score__logo column small-2">
                <img alt="SLB Logo" class="team-logo" src="http://www.zerozero.pt/img/logos/equipas/4_imgbank.png">
              </div>
              <div class="team-game-score__name-record column small-8">
                <div class="name-record__wrapper">
                  <div class="score-tile__team-name">SL Benfica</div>
                  <div class="team-record">(35')</div>
                </div>
              </div>
              <div class="team-game-score__score column small-2">
                <div class="team-score">1</div>
              </div>
            </div>
          </div>
          <div class="sc-highlights">Diogo Pires fez hat-trick</div>
        </div>
      </a>

    </section>
    <section>
      <a class="score-tile-wrapper" href="/match">
        <div class="score-tile score-tile-final" role="status">
          <div class="score-tile-min__wrapper">
            <div class="score-tile__top">
              27-03-2018
              <div class="score-tile-broadcaster">
                <span class="broadcaster lp">II Liga</span>
              </div>
            </div>

            <div class="team-game-score team-game-score--visitor row small-collapse">
              <div class="team-game-score__logo column small-2">
                <img alt="{{viewModel.name}} Logo" class="team-logo" src="{{viewModel.avatar}}">
              </div>
              <div class="team-game-score__name-record column small-8">
                <div class="name-record__wrapper">
                  <div class="score-tile__team-name">{{viewModel.name}}</div>
                  <div class="team-record">(48' 34' 56' 59')</div>
                </div>
              </div>
              <div class="team-game-score__score column small-2">
                <div class="team-score">4</div>
              </div>
            </div>

            <div class="team-game-score team-game-score--home row small-collapse team-game-score--loser">
              <div class="team-game-score__logo column small-2">
                <img alt="SLB Logo" class="team-logo" src="http://www.zerozero.pt/img/logos/equipas/4_imgbank.png">
              </div>
              <div class="team-game-score__name-record column small-8">
                <div class="name-record__wrapper">
                  <div class="score-tile__team-name">SL Benfica</div>
                  <div class="team-record">(35')</div>
                </div>
              </div>
              <div class="team-game-score__score column small-2">
                <div class="team-score">1</div>
              </div>
            </div>
          </div>
          <div class="sc-highlights">Diogo Pires fez hat-trick</div>
        </div>
      </a>

    </section>
    <section>
      <a class="score-tile-wrapper" href="/match">
        <div class="score-tile score-tile-final" role="status">
          <div class="score-tile-min__wrapper">
            <div class="score-tile__top">
              27-03-2018
              <div class="score-tile-broadcaster">
                <span class="broadcaster lp">II Liga</span>
              </div>
            </div>

            <div class="team-game-score team-game-score--visitor row small-collapse">
              <div class="team-game-score__logo column small-2">
                <img alt="{{viewModel.name}} Logo" class="team-logo" src="{{viewModel.avatar}}">
              </div>
              <div class="team-game-score__name-record column small-8">
                <div class="name-record__wrapper">
                  <div class="score-tile__team-name">{{viewModel.name}}</div>
                  <div class="team-record">(48' 34' 56' 59')</div>
                </div>
              </div>
              <div class="team-game-score__score column small-2">
                <div class="team-score">4</div>
              </div>
            </div>

            <div class="team-game-score team-game-score--home row small-collapse team-game-score--loser">
              <div class="team-game-score__logo column small-2">
                <img alt="SLB Logo" class="team-logo" src="http://www.zerozero.pt/img/logos/equipas/4_imgbank.png">
              </div>
              <div class="team-game-score__name-record column small-8">
                <div class="name-record__wrapper">
                  <div class="score-tile__team-name">SL Benfica</div>
                  <div class="team-record">(35')</div>
                </div>
              </div>
              <div class="team-game-score__score column small-2">
                <div class="team-score">1</div>
              </div>
            </div>
          </div>
          <div class="sc-highlights">Diogo Pires fez hat-trick</div>
        </div>
      </a>

    </section>
    <section>
      <a class="score-tile-wrapper" href="/match">
        <div class="score-tile score-tile-final" role="status">
          <div class="score-tile-min__wrapper">
            <div class="score-tile__top">
              27-03-2018
              <div class="score-tile-broadcaster">
                <span class="broadcaster lp">II Liga</span>
              </div>
            </div>

            <div class="team-game-score team-game-score--visitor row small-collapse">
              <div class="team-game-score__logo column small-2">
                <img alt="{{viewModel.name}} Logo" class="team-logo" src="{{viewModel.avatar}}">
              </div>
              <div class="team-game-score__name-record column small-8">
                <div class="name-record__wrapper">
                  <div class="score-tile__team-name">{{viewModel.name}}</div>
                  <div class="team-record">(48' 34' 56' 59')</div>
                </div>
              </div>
              <div class="team-game-score__score column small-2">
                <div class="team-score">4</div>
              </div>
            </div>

            <div class="team-game-score team-game-score--home row small-collapse team-game-score--loser">
              <div class="team-game-score__logo column small-2">
                <img alt="SLB Logo" class="team-logo" src="http://www.zerozero.pt/img/logos/equipas/4_imgbank.png">
              </div>
              <div class="team-game-score__name-record column small-8">
                <div class="name-record__wrapper">
                  <div class="score-tile__team-name">SL Benfica</div>
                  <div class="team-record">(35')</div>
                </div>
              </div>
              <div class="team-game-score__score column small-2">
                <div class="team-score">1</div>
              </div>
            </div>
          </div>
          <div class="sc-highlights">Diogo Pires fez hat-trick</div>
        </div>
      </a>

    </section>
    <section>
      <a class="score-tile-wrapper" href="/match">
        <div class="score-tile score-tile-final" role="status">
          <div class="score-tile-min__wrapper">
            <div class="score-tile__top">
              27-03-2018
              <div class="score-tile-broadcaster">
                <span class="broadcaster lp">II Liga</span>
              </div>
            </div>

            <div class="team-game-score team-game-score--visitor row small-collapse">
              <div class="team-game-score__logo column small-2">
                <img alt="{{viewModel.name}} Logo" class="team-logo" src="{{viewModel.avatar}}">
              </div>
              <div class="team-game-score__name-record column small-8">
                <div class="name-record__wrapper">
                  <div class="score-tile__team-name">{{viewModel.name}}</div>
                  <div class="team-record">(48' 34' 56' 59')</div>
                </div>
              </div>
              <div class="team-game-score__score column small-2">
                <div class="team-score">4</div>
              </div>
            </div>

            <div class="team-game-score team-game-score--home row small-collapse team-game-score--loser">
              <div class="team-game-score__logo column small-2">
                <img alt="SLB Logo" class="team-logo" src="http://www.zerozero.pt/img/logos/equipas/4_imgbank.png">
              </div>
              <div class="team-game-score__name-record column small-8">
                <div class="name-record__wrapper">
                  <div class="score-tile__team-name">SL Benfica</div>
                  <div class="team-record">(35')</div>
                </div>
              </div>
              <div class="team-game-score__score column small-2">
                <div class="team-score">1</div>
              </div>
            </div>
          </div>
          <div class="sc-highlights">Diogo Pires fez hat-trick</div>
        </div>
      </a>

    </section>
  </div>
</div>
<div class="row-right-stats">
  <div class="stats">
    <table class="sc-stats-table">
      <tbody>
      <tr class="table_header">
        <th class="th-td-first">Liga</th>
        <th>Jogos</th>
        <th>Class.</th>
        <th>Vitórias</th>
        <th>Derrotas</th>
        <th class="th-td-last">Empates</th>
      </tr>
      <tr *ngFor="let stat of viewModel.current_season.stats; let _idx = index "
          class="{{ _idx % 2 ? 'tr-even': 'tr-odd'  }}">
        <td>
          <img class="league" src="{{stat.competition_avatar}}" alt="{{stat.competition_name}}">
          <div class="player-stats-text">
          </div>
        </td>
        <td>{{stat.games}}</td>
        <td>
          <div *ngIf="stat.classification != null">{{stat.classification}}º</div>
          <div *ngIf="stat.classification == null">-</div>
        </td>
        <td>{{stat.wins}}</td>
        <td>{{stat.losses}}</td>
        <td>{{stat.draws}}</td>
      </tr>
      </tbody>
    </table>
    <table class="sc-stats-table">
      <tbody>
      <tr class="table_header">
        <th class="th-td-first">Liga</th>
        <th>Jogos</th>
        <th>Class.</th>
        <th>Vitórias</th>
        <th>Derrotas</th>
        <th class="th-td-last">Empates</th>
      </tr>
      <tr *ngFor="let stat of viewModel.current_season.stats; let _idx = index "
          class="{{ _idx % 2 ? 'tr-even': 'tr-odd'  }}">
        <td>
          <img class="league" src="{{stat.competition_avatar}}" alt="{{stat.competition_name}}">
          <div class="player-stats-text">
          </div>
        </td>
        <td>{{stat.games}}</td>
        <td>
          <div *ngIf="stat.classification != null">{{stat.classification}}º</div>
          <div *ngIf="stat.classification == null">-</div>
        </td>
        <td>{{stat.wins}}</td>
        <td>{{stat.losses}}</td>
        <td>{{stat.draws}}</td>
      </tr>
      </tbody>
    </table>
    <table class="sc-stats-table">
      <tbody>
      <tr class="table_header">
        <th class="th-td-first">Liga</th>
        <th>Jogos</th>
        <th>Class.</th>
        <th>Vitórias</th>
        <th>Derrotas</th>
        <th class="th-td-last">Empates</th>
      </tr>
      <tr *ngFor="let stat of viewModel.current_season.stats; let _idx = index "
          class="{{ _idx % 2 ? 'tr-even': 'tr-odd'  }}">
        <td>
          <img class="league" src="{{stat.competition_avatar}}" alt="{{stat.competition_name}}">
          <div class="player-stats-text">
          </div>
        </td>
        <td>{{stat.games}}</td>
        <td>
          <div *ngIf="stat.classification != null">{{stat.classification}}º</div>
          <div *ngIf="stat.classification == null">-</div>
        </td>
        <td>{{stat.wins}}</td>
        <td>{{stat.losses}}</td>
        <td>{{stat.draws}}</td>
      </tr>
      </tbody>
    </table>
    <table class="sc-stats-table">
      <tbody>
      <tr class="table_header">
        <th class="th-td-first">Liga</th>
        <th>Jogos</th>
        <th>Class.</th>
        <th>Vitórias</th>
        <th>Derrotas</th>
        <th class="th-td-last">Empates</th>
      </tr>
      <tr *ngFor="let stat of viewModel.current_season.stats; let _idx = index "
          class="{{ _idx % 2 ? 'tr-even': 'tr-odd'  }}">
        <td>
          <img class="league" src="{{stat.competition_avatar}}" alt="{{stat.competition_name}}">
          <div class="player-stats-text">
          </div>
        </td>
        <td>{{stat.games}}</td>
        <td>
          <div *ngIf="stat.classification != null">{{stat.classification}}º</div>
          <div *ngIf="stat.classification == null">-</div>
        </td>
        <td>{{stat.wins}}</td>
        <td>{{stat.losses}}</td>
        <td>{{stat.draws}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
