<table class="table-order-center" matSort (matSortChange)="sortData($event)">
  <tr>
    <th mat-sort-header="Recente">Época</th>
    <th mat-sort-header="Popular">Competição</th>
    <th mat-sort-header="Gostos">Total</th>
  </tr>
</table>
<div class="row-center-stats">
  <div class="stats">
    <table class="sc-stats-table">
      <tbody>
      <tr class="table_header">
        <th class="th-td-first">Liga</th>
        <th>Jogos</th>
        <th>Class.</th>
        <th>Vitórias</th>
        <th>Derrotas</th>
        <th>Empates</th>
      </tr>
      <tr *ngFor="let stat of viewModel.current_season.stats; let _idx = index "
          class="{{ _idx % 2 ? 'tr-even': 'tr-odd'  }}">
        <td>
          <img class="league" src="{{stat.competition_avatar}}" alt="{{stat.competition_name}}">
          <div class="player-stats-text">
          </div>
        </td>
        <td>{{stat.games}}</td>
        <td>
          <div *ngIf="stat.classification != null">{{stat.classification}}º</div>
          <div *ngIf="stat.classification == null">-</div>
        </td>
        <td>{{stat.wins}}</td>
        <td>{{stat.losses}}</td>
        <td>{{stat.draws}}</td>
      </tr>
      </tbody>
    </table>
    <table class="sc-stats-table">
      <tbody>
      <tr class="table_header">
        <th class="th-td-first">Liga</th>
        <th>Jogos</th>
        <th>Class.</th>
        <th>Vitórias</th>
        <th>Derrotas</th>
        <th>Empates</th>
      </tr>
      <tr *ngFor="let stat of viewModel.current_season.stats; let _idx = index "
          class="{{ _idx % 2 ? 'tr-even': 'tr-odd'  }}">
        <td>
          <img class="league" src="{{stat.competition_avatar}}" alt="{{stat.competition_name}}">
          <div class="player-stats-text">
          </div>
        </td>
        <td>{{stat.games}}</td>
        <td>
          <div *ngIf="stat.classification != null">{{stat.classification}}º</div>
          <div *ngIf="stat.classification == null">-</div>
        </td>
        <td>{{stat.wins}}</td>
        <td>{{stat.losses}}</td>
        <td>{{stat.draws}}</td>
      </tr>
      </tbody>
    </table>
    <table class="sc-stats-table">
      <tbody>
      <tr class="table_header">
        <th class="th-td-first">Liga</th>
        <th>Jogos</th>
        <th>Class.</th>
        <th>Vitórias</th>
        <th>Derrotas</th>
        <th>Empates</th>
      </tr>
      <tr *ngFor="let stat of viewModel.current_season.stats; let _idx = index "
          class="{{ _idx % 2 ? 'tr-even': 'tr-odd'  }}">
        <td>
          <img class="league" src="{{stat.competition_avatar}}" alt="{{stat.competition_name}}">
          <div class="player-stats-text">
          </div>
        </td>
        <td>{{stat.games}}</td>
        <td>
          <div *ngIf="stat.classification != null">{{stat.classification}}º</div>
          <div *ngIf="stat.classification == null">-</div>
        </td>
        <td>{{stat.wins}}</td>
        <td>{{stat.losses}}</td>
        <td>{{stat.draws}}</td>
      </tr>
      </tbody>
    </table>
    <table class="sc-stats-table">
      <tbody>
      <tr class="table_header">
        <th class="th-td-first">Liga</th>
        <th>Jogos</th>
        <th>Class.</th>
        <th>Vitórias</th>
        <th>Derrotas</th>
        <th>Empates</th>
      </tr>
      <tr *ngFor="let stat of viewModel.current_season.stats; let _idx = index "
          class="{{ _idx % 2 ? 'tr-even': 'tr-odd'  }}">
        <td>
          <img class="league" src="{{stat.competition_avatar}}" alt="{{stat.competition_name}}">
          <div class="player-stats-text">
          </div>
        </td>
        <td>{{stat.games}}</td>
        <td>
          <div *ngIf="stat.classification != null">{{stat.classification}}º</div>
          <div *ngIf="stat.classification == null">-</div>
        </td>
        <td>{{stat.wins}}</td>
        <td>{{stat.losses}}</td>
        <td>{{stat.draws}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
