<div style="overflow: hidden">
  <div class="player">
    <div class="player-header">
      <div class="row">
        <div class="player-info">
          <div class="team">
            <a href="{{viewModel.current_season.team.id}}" title="{{viewModel.current_season.team.id}}">
              <img [src]="viewModel.current_season.team.avatar" [title]="viewModel.current_season.team.name"
                   [alt]="viewModel.current_season.team.acronym">
            </a>
          </div>
          <h1>
            {{viewModel.personal_info.name}}
          </h1>
          <div class="player-team">
            <a href="{{viewModel.current_season.team.id}}" [title]="viewModel.current_season.team.name">
              {{viewModel.current_season.team.name}}
            </a>
          </div>
        </div>
        <div class="player-menu">
          <a routerLink="/userInfo" routerLinkActive="active" title="{{viewModel.personal_info.name}}"
             class="">Perfil</a>
          <a routerLink="/userMedia" routerLinkActive="active" title="{{viewModel.personal_info.name}}">Media</a>
          <a routerLink="/userStats" routerLinkActive="active" title="{{viewModel.personal_info.name}}" class="current">Estatísticas</a>
        </div>
      </div>
    </div>
    <div class="player-header-placeholder"></div>

    <table class="table-order-center" matSort (matSortChange)="sortData($event)">
      <tr>
        <th mat-sort-header="Recente">Época</th>
        <th mat-sort-header="Popular">Competição</th>
        <th mat-sort-header="Gostos">Total</th>
      </tr>
    </table>

    <div class="row-center-stats">
      <div class="stats">
        <table class="sc-stats-table">
          <tbody>
          <tr class="table_header">
            <th class="th-td-first">Liga</th>
            <th>Jogos</th>
            <th>Vitórias</th>
            <th>Derrotas</th>
            <th>Empates</th>
            <th>Golos</th>
            <th>Assis.</th>
            <th>CA</th>
            <th>CV</th>
            <th class="th-td-last">Min</th>
          </tr>
          <tr *ngFor="let stat of viewModel.current_season.stats; let _idx = index "
              class="{{ _idx % 2 ? 'tr-even': 'tr-odd'  }}">
            <td>
              <img class="league" src="{{stat.competition_avatar}}" alt="{{stat.competition_name}}">
            </td>
            <td>{{stat.games}}</td>
            <td>{{stat.wins}}</td>
            <td>{{stat.losses}}</td>
            <td>{{stat.draws}}</td>
            <td>{{stat.goals}}</td>
            <td>{{stat.assists}}</td>
            <td>{{stat.yellow_cards}}</td>
            <td>{{stat.red_cards}}</td>
            <td>{{stat.minutes_played}}''</td>
          </tr>
          </tbody>
        </table>
        <table class="sc-stats-table">
          <tbody>
          <tr class="table_header">
            <th class="th-td-first">Liga</th>
            <th>Jogos</th>
            <th>Vitórias</th>
            <th>Derrotas</th>
            <th>Empates</th>
            <th>Golos</th>
            <th>Assis.</th>
            <th>CA</th>
            <th>CV</th>
            <th class="th-td-last">Min</th>
          </tr>
          <tr *ngFor="let stat of viewModel.current_season.stats; let _idx = index "
              class="{{ _idx % 2 ? 'tr-even': 'tr-odd'  }}">
            <td>
              <img class="league" src="{{stat.competition_avatar}}" alt="{{stat.competition_name}}">
            </td>
            <td>{{stat.games}}</td>
            <td>{{stat.wins}}</td>
            <td>{{stat.losses}}</td>
            <td>{{stat.draws}}</td>
            <td>{{stat.goals}}</td>
            <td>{{stat.assists}}</td>
            <td>{{stat.yellow_cards}}</td>
            <td>{{stat.red_cards}}</td>
            <td>{{stat.minutes_played}}''</td>
          </tr>
          </tbody>
        </table>
        <table class="sc-stats-table">
          <tbody>
          <tr class="table_header">
            <th class="th-td-first">Liga</th>
            <th>Jogos</th>
            <th>Vitórias</th>
            <th>Derrotas</th>
            <th>Empates</th>
            <th>Golos</th>
            <th>Assis.</th>
            <th>CA</th>
            <th>CV</th>
            <th class="th-td-last">Min</th>
          </tr>
          <tr *ngFor="let stat of viewModel.current_season.stats; let _idx = index "
              class="{{ _idx % 2 ? 'tr-even': 'tr-odd'  }}">
            <td>
              <img class="league" src="{{stat.competition_avatar}}" alt="{{stat.competition_name}}">
            </td>
            <td>{{stat.games}}</td>
            <td>{{stat.wins}}</td>
            <td>{{stat.losses}}</td>
            <td>{{stat.draws}}</td>
            <td>{{stat.goals}}</td>
            <td>{{stat.assists}}</td>
            <td>{{stat.yellow_cards}}</td>
            <td>{{stat.red_cards}}</td>
            <td>{{stat.minutes_played}}''</td>
          </tr>
          </tbody>
        </table>
        <table class="sc-stats-table">
          <tbody>
          <tr class="table_header">
            <th class="th-td-first">Liga</th>
            <th>Jogos</th>
            <th>Vitórias</th>
            <th>Derrotas</th>
            <th>Empates</th>
            <th>Golos</th>
            <th>Assis.</th>
            <th>CA</th>
            <th>CV</th>
            <th class="th-td-last">Min</th>
          </tr>
          <tr *ngFor="let stat of viewModel.current_season.stats; let _idx = index "
              class="{{ _idx % 2 ? 'tr-even': 'tr-odd'  }}">
            <td>
              <img class="league" src="{{stat.competition_avatar}}" alt="{{stat.competition_name}}">
            </td>
            <td>{{stat.games}}</td>
            <td>{{stat.wins}}</td>
            <td>{{stat.losses}}</td>
            <td>{{stat.draws}}</td>
            <td>{{stat.goals}}</td>
            <td>{{stat.assists}}</td>
            <td>{{stat.yellow_cards}}</td>
            <td>{{stat.red_cards}}</td>
            <td>{{stat.minutes_played}}''</td>
          </tr>
          </tbody>
        </table>
        <table class="sc-stats-table">
          <tbody>
          <tr class="table_header">
            <th class="th-td-first">Liga</th>
            <th>Jogos</th>
            <th>Vitórias</th>
            <th>Derrotas</th>
            <th>Empates</th>
            <th>Golos</th>
            <th>Assis.</th>
            <th>CA</th>
            <th>CV</th>
            <th class="th-td-last">Min</th>
          </tr>
          <tr *ngFor="let stat of viewModel.current_season.stats; let _idx = index "
              class="{{ _idx % 2 ? 'tr-even': 'tr-odd'  }}">
            <td>
              <img class="league" src="{{stat.competition_avatar}}" alt="{{stat.competition_name}}">
            </td>
            <td>{{stat.games}}</td>
            <td>{{stat.wins}}</td>
            <td>{{stat.losses}}</td>
            <td>{{stat.draws}}</td>
            <td>{{stat.goals}}</td>
            <td>{{stat.assists}}</td>
            <td>{{stat.yellow_cards}}</td>
            <td>{{stat.red_cards}}</td>
            <td>{{stat.minutes_played}}''</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="player-header-placeholder-small"></div>
  </div>
</div>
