<div style="overflow: hidden">
  <div class="player">
    <div class="player-header">
      <div class="row">
        <div class="player-info">
          <div class="team">
            <a href="/team" title="{{viewModel.full_name}}">
              <img [src]="viewModel.avatar" [title]="viewModel.full_name" [alt]="viewModel.name">
            </a>
          </div>
          <h1>
            {{viewModel.full_name}}
          </h1>
        </div>
        <div class="player-menu">
          <span id="profile" (mouseover)='over($event, true)' (mouseleave)='over($event, false)' title="{{viewModel.name}}" (click)="changeTab('profile')" class="current">Perfil</span>
          <span id="media" (mouseover)='over($event, true)' (mouseleave)='over($event, false)' title="{{viewModel.name}}" (click)="changeTab('media')" class="">Media</span>
          <span id="stats" (mouseover)='over($event, true)' (mouseleave)='over($event, false)' title="{{viewModel.name}}" (click)="changeTab('stats')" class="">Estatísticas</span>
          <span id="roster" (mouseover)='over($event, true)' (mouseleave)='over($event, false)' title="{{viewModel.name}}" (click)="changeTab('roster')" class="">Plantel</span>
        </div>
      </div>
    </div>
    <div class="player-header-placeholder"></div>
    <app-team-profile *ngIf="hasClass('profile', 'current')"></app-team-profile>
    <app-user-info-media *ngIf="hasClass('media', 'current')"></app-user-info-media>
    <app-team-stats *ngIf="hasClass('stats', 'current')"></app-team-stats>
    <app-team-roster *ngIf="hasClass('roster', 'current')"></app-team-roster>
  </div>
</div>
