<div style="overflow: hidden">
  <div class="player">
    <div class="player-header">
      <div class="row">
        <div class="player-info">
          <div class="team">
            <a href="#" title="Cavaliers">
              <img [src]="viewModel.avatar.type" [title]="viewModel.full_name" [alt]="viewModel.name">
            </a>
          </div>
          <h1>
            {{viewModel.full_name}}
          </h1>
        </div>
        <div class="player-menu">
          <a href="/team" title="{{viewModel.full_name}} full profile" class="current">Perfil</a>
          <a href="/teamMedia" title="{{viewModel.full_name}} videos" class="">Media</a>
          <a href="/teamStats" title="{{viewModel.full_name}} awards" class="">Estatísticas</a>
          <a href="/teamRosters" title="{{viewModel.full_name}} awards" class="">Plantel</a>
        </div>
      </div>
    </div>

    <div class="player-header-placeholder"></div>

    <div class="callout meta ">
      <div class="row">
        <div class="row-left">
          <div class="team-image">
            <!--<div class="right-shadow"></div>-->
            <img [src]="viewModel.avatar.type" class="old" alt="profile img"
                 title="profile" style="left: -241.5px;">
          </div>
        </div>
        <div class="row-center-team">
          <table class="sc-stats-table">
            <tbody>
            <tr class="table_header">
              <th class="th-td-first">Liga</th>
              <th>Jogos</th>
              <th>Vitórias</th>
              <th>Derrotas</th>
              <th>Empates</th>
              <th>Golos</th>
              <th>Assis.</th>
              <th>CA</th>
              <th>CV</th>
              <th class="th-td-last">Min</th>
            </tr>
            <tr class="tr-odd">
              <td>
                <img class="league" src="./../../assets/Liga_Portugal_logo.png" alt="">
                <div class="player-stats-text">
                </div>
              </td>
              <td>23</td>
              <td>19</td>
              <td>2</td>
              <td>2</td>
              <td>20</td>
              <td>2</td>
              <td>2</td>
              <td>0</td>
              <td>454''</td>
            </tr>
            <tr class="tr-pair">
              <td>
                <img class="league" src="./../../assets/9_imgbank_tp.png" alt="">
                <div class="player-stats-text">
                </div>
              </td>
              <td>7</td>
              <td>7</td>
              <td>0</td>
              <td>0</td>
              <td>1</td>
              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td>45''</td>
            </tr>
            <tr class="tr-odd">
              <td>
                <img class="league" src="./../../assets/Tacadaligalogo.png" alt="">
                <div class="player-stats-text">
                </div>
              </td>
              <td>12</td>
              <td>12</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>1</td>
              <td>0</td>
              <td>0</td>
              <td>154''</td>
            </tr>
            </tbody>
          </table>
          <div class="skills">
            <div class="data">
              <div *ngIf="chart">
                <canvas id="radar" style="display: block; width: 600px; height: 260px;"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="row-right">
          <div class="roster">
            <table class="items">
              <thead>
              <tr>
                <th class="centered" id="yw1_c0">
                  <a class="sort-link" href="/">#</a>
                </th>
                <th id="yw1_c1">
                  <a class="sort-link asc" href="/">Jogadores</a>
                </th>
                <th class="centered" id="yw1_c2">
                  <a class="sort-link" href="/">Nasc. / idade</a>
                </th>
                <th class="centered" id="yw1_c3">Nac.</th>
                <th class="centered" id="yw1_c4">
                  <a class="sort-link" href="/">
                    Contrato até</a>
                </th>
              </tr>
              </thead>
              <tbody>
                <tr class="odd">
                  <td title="Guarda-redes" class="centered number_move goalkeeper_bg">
                    <div class="list_number">1</div>
                  </td>
                  <td title="" class="posrela">
                    <table class="inline-table" title="">
                      <tbody>
                      <tr>
                        <td rowspan="2" class="">
                          <a href="#">
                            <img
                              src="https://tmssl.akamaized.net//images/portrait/small/79422-1413205936.jpg?lm=1433144964"
                              title="Diogo Pires" alt="Diogo Pires" class="bilderrahmen-fixed">
                          </a></td>
                        <td class="hauptlink">
                          <div class="di nowrap">
                            <span class="hide-for-small">
                            <a
                              href="/keylor-navas/profil/spieler/79422">
                              Diogo Pires
                            </a>
                          </span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Guarda-Redes</td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td class="centered">15/12/1986 (31)</td>
                  <td class="centered"><img
                    src="https://tmssl.akamaized.net//images/flagge/verysmall/36.png?lm=1520611569" title="Costa Rica"
                    alt="Costa Rica" class="list_flag"><br><img
                    src="https://tmssl.akamaized.net//images/flagge/verysmall/157.png?lm=1520611569" title="Espanha"
                    alt="Espanha" class="list_flag"></td>
                  <td class="centered">30.06.2020</td>
                </tr>
                <tr class="even">
                  <td title="Guarda-redes" class="centered number_move goalkeeper_bg">
                    <div class="list_number">13</div>
                  </td>
                  <td title="" class="posrela">
                    <table class="inline-table" title="">
                      <tbody>
                      <tr>
                        <td rowspan="2" class="">
                          <a href="#">
                            <img
                              src="https://tmssl.akamaized.net//images/portrait/small/27486-1454600580.jpg?lm=1454600554"
                              title="Kiko Casilla" alt="Kiko Casilla" class="bilderrahmen-fixed">
                          </a>
                        </td>
                        <td class="hauptlink">
                          <div class="di nowrap">
                            <span class="hide-for-small">
                              <a href="/kiko-casilla/profil/spieler/27486">Kiko Casilla</a>
                            </span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Guarda-Redes</td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td class="centered">02/10/1986 (31)</td>
                  <td class="centered">
                    <img src="https://tmssl.akamaized.net//images/flagge/verysmall/157.png?lm=1520611569" title="Espanha"
                         alt="Espanha" class="list_flag">
                  </td>
                  <td class="centered">30.06.2020</td>
                </tr>
                <tr class="odd">
                  <td title="Guarda-redes" class="centered number_move goalkeeper_bg">
                    <div class="list_number">1</div>
                  </td>
                  <td title="" class="posrela">
                    <table class="inline-table" title="">
                      <tbody>
                      <tr>
                        <td rowspan="2" class="">
                          <a href="#">
                            <img
                              src="https://tmssl.akamaized.net//images/portrait/small/79422-1413205936.jpg?lm=1433144964"
                              title="Diogo Pires" alt="Diogo Pires" class="bilderrahmen-fixed">
                          </a></td>
                        <td class="hauptlink">
                          <div class="di nowrap">
                            <span class="hide-for-small">
                            <a
                              href="/keylor-navas/profil/spieler/79422">
                              Diogo Pires
                            </a>
                          </span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Guarda-Redes</td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td class="centered">15/12/1986 (31)</td>
                  <td class="centered"><img
                    src="https://tmssl.akamaized.net//images/flagge/verysmall/36.png?lm=1520611569" title="Costa Rica"
                    alt="Costa Rica" class="list_flag"><br><img
                    src="https://tmssl.akamaized.net//images/flagge/verysmall/157.png?lm=1520611569" title="Espanha"
                    alt="Espanha" class="list_flag"></td>
                  <td class="centered">30.06.2020</td>
                </tr>
                <tr class="even">
                  <td title="Guarda-redes" class="centered number_move goalkeeper_bg">
                    <div class="list_number">13</div>
                  </td>
                  <td title="" class="posrela">
                    <table class="inline-table" title="">
                      <tbody>
                      <tr>
                        <td rowspan="2" class="">
                          <a href="#">
                            <img
                              src="https://tmssl.akamaized.net//images/portrait/small/27486-1454600580.jpg?lm=1454600554"
                              title="Kiko Casilla" alt="Kiko Casilla" class="bilderrahmen-fixed">
                          </a>
                        </td>
                        <td class="hauptlink">
                          <div class="di nowrap">
                            <span class="hide-for-small">
                              <a href="/kiko-casilla/profil/spieler/27486">Kiko Casilla</a>
                            </span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Guarda-Redes</td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td class="centered">02/10/1986 (31)</td>
                  <td class="centered">
                    <img src="https://tmssl.akamaized.net//images/flagge/verysmall/157.png?lm=1520611569" title="Espanha"
                         alt="Espanha" class="list_flag">
                  </td>
                  <td class="centered">30.06.2020</td>
                </tr>
                <tr class="odd">
                  <td title="Guarda-redes" class="centered number_move goalkeeper_bg">
                    <div class="list_number">1</div>
                  </td>
                  <td title="" class="posrela">
                    <table class="inline-table" title="">
                      <tbody>
                      <tr>
                        <td rowspan="2" class="">
                          <a href="#">
                            <img
                              src="https://tmssl.akamaized.net//images/portrait/small/79422-1413205936.jpg?lm=1433144964"
                              title="Diogo Pires" alt="Diogo Pires" class="bilderrahmen-fixed">
                          </a></td>
                        <td class="hauptlink">
                          <div class="di nowrap">
                            <span class="hide-for-small">
                            <a
                              href="/keylor-navas/profil/spieler/79422">
                              Diogo Pires
                            </a>
                          </span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Guarda-Redes</td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td class="centered">15/12/1986 (31)</td>
                  <td class="centered"><img
                    src="https://tmssl.akamaized.net//images/flagge/verysmall/36.png?lm=1520611569" title="Costa Rica"
                    alt="Costa Rica" class="list_flag"><br><img
                    src="https://tmssl.akamaized.net//images/flagge/verysmall/157.png?lm=1520611569" title="Espanha"
                    alt="Espanha" class="list_flag"></td>
                  <td class="centered">30.06.2020</td>
                </tr>
                <tr class="even">
                  <td title="Guarda-redes" class="centered number_move goalkeeper_bg">
                    <div class="list_number">13</div>
                  </td>
                  <td title="" class="posrela">
                    <table class="inline-table" title="">
                      <tbody>
                      <tr>
                        <td rowspan="2" class="">
                          <a href="#">
                            <img
                              src="https://tmssl.akamaized.net//images/portrait/small/27486-1454600580.jpg?lm=1454600554"
                              title="Kiko Casilla" alt="Kiko Casilla" class="bilderrahmen-fixed">
                          </a>
                        </td>
                        <td class="hauptlink">
                          <div class="di nowrap">
                            <span class="hide-for-small">
                              <a href="/kiko-casilla/profil/spieler/27486">Kiko Casilla</a>
                            </span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Guarda-Redes</td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td class="centered">02/10/1986 (31)</td>
                  <td class="centered">
                    <img src="https://tmssl.akamaized.net//images/flagge/verysmall/157.png?lm=1520611569" title="Espanha"
                         alt="Espanha" class="list_flag">
                  </td>
                  <td class="centered">30.06.2020</td>
                </tr>
                <tr class="odd">
                  <td title="Guarda-redes" class="centered number_move goalkeeper_bg">
                    <div class="list_number">1</div>
                  </td>
                  <td title="" class="posrela">
                    <table class="inline-table" title="">
                      <tbody>
                      <tr>
                        <td rowspan="2" class="">
                          <a href="#">
                            <img
                              src="https://tmssl.akamaized.net//images/portrait/small/79422-1413205936.jpg?lm=1433144964"
                              title="Diogo Pires" alt="Diogo Pires" class="bilderrahmen-fixed">
                          </a></td>
                        <td class="hauptlink">
                          <div class="di nowrap">
                            <span class="hide-for-small">
                            <a
                              href="/keylor-navas/profil/spieler/79422">
                              Diogo Pires
                            </a>
                          </span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Guarda-Redes</td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td class="centered">15/12/1986 (31)</td>
                  <td class="centered"><img
                    src="https://tmssl.akamaized.net//images/flagge/verysmall/36.png?lm=1520611569" title="Costa Rica"
                    alt="Costa Rica" class="list_flag"><br><img
                    src="https://tmssl.akamaized.net//images/flagge/verysmall/157.png?lm=1520611569" title="Espanha"
                    alt="Espanha" class="list_flag"></td>
                  <td class="centered">30.06.2020</td>
                </tr>
                <tr class="even">
                  <td title="Guarda-redes" class="centered number_move goalkeeper_bg">
                    <div class="list_number">13</div>
                  </td>
                  <td title="" class="posrela">
                    <table class="inline-table" title="">
                      <tbody>
                      <tr>
                        <td rowspan="2" class="">
                          <a href="#">
                            <img
                              src="https://tmssl.akamaized.net//images/portrait/small/27486-1454600580.jpg?lm=1454600554"
                              title="Kiko Casilla" alt="Kiko Casilla" class="bilderrahmen-fixed">
                          </a>
                        </td>
                        <td class="hauptlink">
                          <div class="di nowrap">
                            <span class="hide-for-small">
                              <a href="/kiko-casilla/profil/spieler/27486">Kiko Casilla</a>
                            </span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Guarda-Redes</td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td class="centered">02/10/1986 (31)</td>
                  <td class="centered">
                    <img src="https://tmssl.akamaized.net//images/flagge/verysmall/157.png?lm=1520611569" title="Espanha"
                         alt="Espanha" class="list_flag">
                  </td>
                  <td class="centered">30.06.2020</td>
                </tr>r
                <tr class="odd">
                  <td title="Guarda-redes" class="centered number_move goalkeeper_bg">
                    <div class="list_number">1</div>
                  </td>
                  <td title="" class="posrela">
                    <table class="inline-table" title="">
                      <tbody>
                      <tr>
                        <td rowspan="2" class="">
                          <a href="#">
                            <img
                              src="https://tmssl.akamaized.net//images/portrait/small/79422-1413205936.jpg?lm=1433144964"
                              title="Diogo Pires" alt="Diogo Pires" class="bilderrahmen-fixed">
                          </a></td>
                        <td class="hauptlink">
                          <div class="di nowrap">
                            <span class="hide-for-small">
                            <a
                              href="/keylor-navas/profil/spieler/79422">
                              Diogo Pires
                            </a>
                          </span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Guarda-Redes</td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td class="centered">15/12/1986 (31)</td>
                  <td class="centered"><img
                    src="https://tmssl.akamaized.net//images/flagge/verysmall/36.png?lm=1520611569" title="Costa Rica"
                    alt="Costa Rica" class="list_flag"><br><img
                    src="https://tmssl.akamaized.net//images/flagge/verysmall/157.png?lm=1520611569" title="Espanha"
                    alt="Espanha" class="list_flag"></td>
                  <td class="centered">30.06.2020</td>

                </tr>
                <tr class="even">
                  <td title="Guarda-redes" class="centered number_move goalkeeper_bg">
                    <div class="list_number">13</div>
                  </td>
                  <td title="" class="posrela">
                    <table class="inline-table" title="">
                      <tbody>
                      <tr>
                        <td rowspan="2" class="">
                          <a href="#">
                            <img
                              src="https://tmssl.akamaized.net//images/portrait/small/27486-1454600580.jpg?lm=1454600554"
                              title="Kiko Casilla" alt="Kiko Casilla" class="bilderrahmen-fixed">
                          </a>
                        </td>
                        <td class="hauptlink">
                          <div class="di nowrap">
                            <span class="hide-for-small">
                              <a href="/kiko-casilla/profil/spieler/27486">Kiko Casilla</a>
                            </span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Guarda-Redes</td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td class="centered">02/10/1986 (31)</td>
                  <td class="centered">
                    <img src="https://tmssl.akamaized.net//images/flagge/verysmall/157.png?lm=1520611569" title="Espanha"
                         alt="Espanha" class="list_flag">
                  </td>
                  <td class="centered">30.06.2020</td>
                </tr>
                <tr class="odd">
                  <td title="Guarda-redes" class="centered number_move goalkeeper_bg">
                    <div class="list_number">1</div>
                  </td>
                  <td title="" class="posrela">
                    <table class="inline-table" title="">
                      <tbody>
                      <tr>
                        <td rowspan="2" class="">
                          <a href="#">
                            <img
                              src="https://tmssl.akamaized.net//images/portrait/small/79422-1413205936.jpg?lm=1433144964"
                              title="Diogo Pires" alt="Diogo Pires" class="bilderrahmen-fixed">
                          </a></td>
                        <td class="hauptlink">
                          <div class="di nowrap">
                            <span class="hide-for-small">
                            <a
                              href="/keylor-navas/profil/spieler/79422">
                              Diogo Pires
                            </a>
                          </span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Guarda-Redes</td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td class="centered">15/12/1986 (31)</td>
                  <td class="centered"><img
                    src="https://tmssl.akamaized.net//images/flagge/verysmall/36.png?lm=1520611569" title="Costa Rica"
                    alt="Costa Rica" class="list_flag"><br><img
                    src="https://tmssl.akamaized.net//images/flagge/verysmall/157.png?lm=1520611569" title="Espanha"
                    alt="Espanha" class="list_flag"></td>
                  <td class="centered">30.06.2020</td>

                </tr>
                <tr class="even">
                  <td title="Guarda-redes" class="centered number_move goalkeeper_bg">
                    <div class="list_number">13</div>
                  </td>
                  <td title="" class="posrela">
                    <table class="inline-table" title="">
                      <tbody>
                      <tr>
                        <td rowspan="2" class="">
                          <a href="#">
                            <img
                              src="https://tmssl.akamaized.net//images/portrait/small/27486-1454600580.jpg?lm=1454600554"
                              title="Kiko Casilla" alt="Kiko Casilla" class="bilderrahmen-fixed">
                          </a>
                        </td>
                        <td class="hauptlink">
                          <div class="di nowrap">
                            <span class="hide-for-small">
                              <a href="/kiko-casilla/profil/spieler/27486">Kiko Casilla</a>
                            </span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Guarda-Redes</td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td class="centered">02/10/1986 (31)</td>
                  <td class="centered">
                    <img src="https://tmssl.akamaized.net//images/flagge/verysmall/157.png?lm=1520611569" title="Espanha"
                         alt="Espanha" class="list_flag">
                  </td>
                  <td class="centered">30.06.2020</td>

                </tr>
                <tr class="odd">
                  <td title="Guarda-redes" class="centered number_move goalkeeper_bg">
                    <div class="list_number">1</div>
                  </td>
                  <td title="" class="posrela">
                    <table class="inline-table" title="">
                      <tbody>
                      <tr>
                        <td rowspan="2" class="">
                          <a href="#">
                            <img
                              src="https://tmssl.akamaized.net//images/portrait/small/79422-1413205936.jpg?lm=1433144964"
                              title="Diogo Pires" alt="Diogo Pires" class="bilderrahmen-fixed">
                          </a></td>
                        <td class="hauptlink">
                          <div class="di nowrap">
                            <span class="hide-for-small">
                            <a
                              href="/keylor-navas/profil/spieler/79422">
                              Diogo Pires
                            </a>
                          </span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Guarda-Redes</td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td class="centered">15/12/1986 (31)</td>
                  <td class="centered"><img
                    src="https://tmssl.akamaized.net//images/flagge/verysmall/36.png?lm=1520611569" title="Costa Rica"
                    alt="Costa Rica" class="list_flag"><br><img
                    src="https://tmssl.akamaized.net//images/flagge/verysmall/157.png?lm=1520611569" title="Espanha"
                    alt="Espanha" class="list_flag"></td>
                  <td class="centered">30.06.2020</td>
                </tr>
                <tr class="even">
                  <td title="Guarda-redes" class="centered number_move goalkeeper_bg">
                    <div class="list_number">13</div>
                  </td>
                  <td title="" class="posrela">
                    <table class="inline-table" title="">
                      <tbody>
                      <tr>
                        <td rowspan="2" class="">
                          <a href="#">
                            <img
                              src="https://tmssl.akamaized.net//images/portrait/small/27486-1454600580.jpg?lm=1454600554"
                              title="Kiko Casilla" alt="Kiko Casilla" class="bilderrahmen-fixed">
                          </a>
                        </td>
                        <td class="hauptlink">
                          <div class="di nowrap">
                            <span class="hide-for-small">
                              <a href="/kiko-casilla/profil/spieler/27486">Kiko Casilla</a>
                            </span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Guarda-Redes</td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                  <td class="centered">02/10/1986 (31)</td>
                  <td class="centered">
                    <img src="https://tmssl.akamaized.net//images/flagge/verysmall/157.png?lm=1520611569" title="Espanha"
                         alt="Espanha" class="list_flag">
                  </td>
                  <td class="centered">30.06.2020</td>

                </tr>
              </tbody>
            </table>
          </div>
          <div class="contacts">
            <div class="data">
              Contactos
              <div>
                <strong>E-mail</strong>
              </div>
              <div>
                <strong>Telefone</strong>
              </div>
              <div>
                <strong>Morada</strong>
              </div>
            </div>
            <div class="data">
              <div>
                seixalfc@seixal.pt
              </div>
              <div>
                +351 213 222 102
              </div>
              <div>
                Rua Sociedade Filarmónica nº10 Seixal 2045-119
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
