<div style="overflow: hidden">
  <div class="player">
    <div class="player-header">
      <div class="row">
        <div class="player-info">
          <div class="team">
            <a href="{{viewModel.current_season.team.id}}" title="{{viewModel.current_season.team.id}}">
              <img [src]="viewModel.current_season.team.avatar" [title]="viewModel.current_season.team.name"
                   [alt]="viewModel.current_season.team.acronym">
            </a>
          </div>
          <h1>
            {{viewModel.personal_info.name}}
          </h1>
          <div class="player-team">
            <a href="{{viewModel.current_season.team.id}}" [title]="viewModel.current_season.team.name">
              {{viewModel.current_season.team.name}}
            </a>
          </div>
        </div>
        <div class="player-menu">
          <a routerLink="/userInfo" routerLinkActive="active" title="{{viewModel.personal_info.name}}" class="current">Perfil</a>
          <a routerLink="/userMedia" routerLinkActive="active" title="{{viewModel.personal_info.name}}"
             class="">Media</a>
          <a routerLink="/userStats" routerLinkActive="active" title="{{viewModel.personal_info.name}}" class="">Estatísticas</a>
        </div>
      </div>
    </div>
    <div class="player-header-placeholder"></div>
    <div class="callout meta ">
      <div class="row">
        <div class="row-left">
            <div class="player-image">
              <img [src]="viewModel.personal_info.avatar.type" alt="Profile image"
                   title="Profile" style="left: -241.5px;">
            </div>
            <div class="profile-buttons">
              <button mat-fab class="button-image"
                      style=" background-image :url('./../../assets/strong.png');"></button>
              <button mat-fab class="button-image"
                      style=" background-image :url('./../../assets/dribble.png');"></button>
              <button mat-fab class="button-image" style=" background-image :url('./../../assets/fast.png');"></button>
              <button mat-fab class="button-image"
                      style=" background-image :url('./../../assets/scorer.png');"></button>
            </div>
        </div>
        <div class="row-center">
          <table class="sc-stats-table" style="display: none;">
            <tbody>
            <tr class="table_header">
              <th>Liga</th>
              <th>Jogos</th>
              <th>Vitórias</th>
              <th>Derrotas</th>
              <th>Empates</th>
              <th>Golos</th>
              <th>Assis</th>
              <th>CA</th>
              <th>CV</th>
              <th>Mins</th>
            </tr>
            <tr *ngFor="let stats of viewModel.current_season.stats">
              <td>
                <img [src]="stats.competition_avatar" class="league" alt="{{stats.competition_name}}">
                <div class="player-stats-text">
                </div>
              </td>
              <td>{{stats.games}}</td>
              <td>{{stats.wins}}</td>
              <td>{{stats.losses}}</td>
              <td>{{stats.draws}}</td>
              <td>{{stats.goals}}</td>
              <td>{{stats.assists}}</td>
              <td>{{stats.yellow_cards}}</td>
              <td>{{stats.red_cards}}</td>
              <td>{{stats.minutes_played}}''</td>
            </tr>
            </tbody>
          </table>
          <div class="stats">
            <div class="nba-stat-table">
              <div class="nba-stat-table__overflow" data-fixed="1" role="grid">
                <table class=" table-stats-center sc-stats-table">
                  <thead>
                  <tr>
                    <th class="first" data-field="rows[0].GROUP_SET">Por equipa</th>
                    <!---->
                    <th class="text" data-field="TEAM_ABBREVIATION">Equipa</th><!---->
                    <th data-field="J">J</th>
                    <th data-field="MIN">MIN</th>
                    <th data-field="GOL">GOL</th>
                    <th data-field="Ast">Ast</th>
                    <th data-field="CA">CA</th>
                    <th data-field="CV">CV</th>
                    <th data-field="FG3M">GJ</th>
                    <th data-field="GJ">COMP</th>
                  </tr>
                  </thead>
                  <tbody>
                  <!---->
                  <tr index="0">
                    <td class="first">2017-18</td>
                    <!---->
                    <td class="text"><a href="/Equipa/1610612744/">SFC</a>
                    </td><!---->
                    <!---->
                    <td>12</td>
                    <td>37.0</td>
                    <td>29.6</td>
                    <td>10.8
                      <span video="" tracking="" shotchart="" params="params" row="row" ai="ai"
                            data-field="Ast"></span>
                    </td>
                    <td>21.3
                      <span video="" tracking="" shotchart="" params="params" row="row" ai="ai"
                            data-field="CA"></span>
                    </td>
                    <td>50.4</td>
                    <td>2.1
                      <span video="" tracking="" shotchart="" params="params" row="row" ai="ai"
                            data-field="FG3M"></span>
                    </td>
                    <td>6.8
                      <span video="" tracking="" shotchart="" params="params" row="row" ai="ai"
                            data-field="GJ"></span>
                    </td>
                  </tr><!---->
                  <tr index="1">
                    <td class="first">2016-17</td>
                    <!---->
                    <td class="text"><a href="/Equipa/1610612744/">SFC</a>
                    </td><!---->
                    <!---->
                    <td>15</td>
                    <td>35.5</td>
                    <td>28.5</td>
                    <td>9.9
                      <span video="" tracking="" shotchart="" params="params" row="row" ai="ai"
                            data-field="Ast"></span>
                    </td>
                    <td>17.9
                      <span video="" tracking="" shotchart="" params="params" row="row" ai="ai"
                            data-field="CA"></span>
                    </td>
                    <td>55.6</td>
                    <td>2.5
                      <span video="" tracking="" shotchart="" params="params" row="row" ai="ai"
                            data-field="FG3M"></span>
                    </td>
                    <td>5.7
                      <span video="" tracking="" shotchart="" params="params" row="row" ai="ai"
                            data-field="GJ"></span>
                    </td>
                  </tr><!---->
                  <tr index="2">
                    <td class="first">2015-16</td>
                    <!---->
                    <td class="text"><a href="/Equipa/1610612760/">CFC</a>
                    </td><!---->
                    <!---->
                    <td>18</td>
                    <td>40.3</td>
                    <td>28.4</td>
                    <td>9.7
                      <span video="" tracking="" shotchart="" params="params" row="row" ai="ai"
                            data-field="Ast"></span>
                    </td>
                    <td>22.6
                      <span video="" tracking="" shotchart="" params="params" row="row" ai="ai"
                            data-field="CA"></span>
                    </td>
                    <td>43.0</td>
                    <td>1.7
                      <span video="" tracking="" shotchart="" params="params" row="row" ai="ai"
                            data-field="FG3M"></span>
                    </td>
                    <td>6.1
                      <span video="" tracking="" shotchart="" params="params" row="row" ai="ai"
                            data-field="GJ"></span>
                    </td>
                  </tr><!---->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="skills">
            <div class="data">
              <div *ngIf="chart">
                <canvas id="graph" style="display: block; width: 600px; height: 260px;"></canvas>
              </div>
            </div>
          </div>
          <div class="col-12 column " *ngFor="let med of viewModel.media.slice(0,2)">
            <div class="callout small articles-big">
              <div class="video">
                <iframe width="100%" height="360" src="//www.youtube.com/embed/zyIgPqOpMWY" frameborder="0"
                        allowfullscreen=""></iframe>
              </div>
              <div class="description">
                <p class="title">
                  <br>
                  <a href="/video/11523/" title="{{med.title}}">{{med.title}}</a>
                  <br>
                  {{med.text}}
                </p>
                <div class="authors">
                  <span class="author">{{med.author}}</span></div>
                <div class="date">{{med.date}}</div>
              </div>
            </div>
          </div>
          <mat-card class="card-sc">
            <mat-card-header>
              <div mat-card-avatar class="profile-image"
                   [ngStyle]="{'background-image':  'url(' + viewModel.recommendations.top_5[0].author.avatar + ')' }"></div>
              <mat-card-title class="headers">{{viewModel.recommendations.top_5[0].author.name}}</mat-card-title>
              <mat-card-subtitle class="headers">{{viewModel.recommendations.top_5[0].author.team.name}}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{viewModel.recommendations.top_5[0].text}}
              </p>
            </mat-card-content>

          </mat-card>
          <mat-card class="card-sc">
            <mat-card-header>
              <div mat-card-avatar class="profile-image"
                   [ngStyle]="{'background-image':  'url(' + viewModel.recommendations.top_5[1].author.avatar + ')' }"></div>
              <mat-card-title class="headers">{{viewModel.recommendations.top_5[1].author.name}}</mat-card-title>
              <mat-card-subtitle class="headers">{{viewModel.recommendations.top_5[1].author.team.name}}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{viewModel.recommendations.top_5[1].text}}
              </p>
            </mat-card-content>

          </mat-card>
          <mat-card class="card-sc">
            <mat-card-header>
              <div mat-card-avatar class="profile-image"
                   [ngStyle]="{'background-image':  'url(' + viewModel.recommendations.top_5[1].author.avatar + ')' }"></div>
              <mat-card-title class="headers">{{viewModel.recommendations.top_5[2].author.name}}</mat-card-title>
              <mat-card-subtitle class="headers">{{viewModel.recommendations.top_5[2].author.team.name}}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{viewModel.recommendations.top_5[2].text}}
              </p>
            </mat-card-content>

          </mat-card>
          <mat-card class="card-sc">
            <mat-card-header>
              <div mat-card-avatar class="profile-image"
                   [ngStyle]="{'background-image':  'url(' + viewModel.recommendations.top_5[3].author.avatar + ')' }"></div>
              <mat-card-title class="headers">{{viewModel.recommendations.top_5[3].author.name}}</mat-card-title>
              <mat-card-subtitle class="headers">{{viewModel.recommendations.top_5[3].author.team.name}}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{viewModel.recommendations.top_5[3].text}}
              </p>
            </mat-card-content>

          </mat-card>
        </div>
        <div class="row-right">
          <div id="personal" class="personal">
            <div class="data">
              <div>
                <strong>Idade</strong>
              </div>
              <div>
                <strong>D. Nascimento</strong>
              </div>
              <div>
                <strong>Posição</strong>
              </div>
              <div>
                <strong>Pé Dominante</strong>
              </div>
              <div>
                <strong>Altura</strong>
              </div>
              <div>
                <strong>Peso</strong>
              </div>
              <div>
                <strong>Residência</strong>
              </div>
              <div>
                <strong>Nacionalidade</strong>
              </div>
            </div>
            <div class="data">
              <div>
                {{viewModel.personal_info.age}}
              </div>
              <div>
                {{viewModel.personal_info.date_of_birth}}
              </div>
              <div>
                {{viewModel.personal_info.positions[0]}}
              </div>
              <div>
                {{viewModel.personal_info.foot}}
              </div>
              <div>
                {{viewModel.personal_info.height}}
              </div>
              <div>
                {{viewModel.personal_info.weight}}
              </div>
              <div>
                {{viewModel.personal_info.residence}}
              </div>
              <div>
                {{viewModel.personal_info.nationality}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
