<div style="overflow: hidden">
  <div class="player">
    <div class="player-header">
      <div class="row">
        <div class="player-info">
          <div class="team">
            <a href="{{viewModel.current_season.team.id}}" title="{{viewModel.current_season.team.id}}">
              <img [src]="viewModel.current_season.team.avatar" [title]="viewModel.current_season.team.name"
                   [alt]="viewModel.current_season.team.acronym">
            </a>
          </div>
          <h1>
            {{viewModel.personal_info.name}}
          </h1>
          <div class="player-team">
            <a href="{{viewModel.current_season.team.id}}" [title]="viewModel.current_season.team.name">
              {{viewModel.current_season.team.name}}
            </a>
          </div>
        </div>
        <div class="player-menu">
          <span id="profile" (mouseover)='over($event, true)' (mouseleave)='over($event, false)' title="{{viewModel.personal_info.name}}" (click)="changeTab('profile')" class="current">Perfil</span>
          <span id="media" (mouseover)='over($event, true)' (mouseleave)='over($event, false)' title="{{viewModel.personal_info.name}}" (click)="changeTab('media')" class="">Media</span>
          <span id="stats" (mouseover)='over($event, true)' (mouseleave)='over($event, false)' title="{{viewModel.personal_info.name}}" (click)="changeTab('stats')" class="">Estatísticas</span>
        </div>
      </div>
    </div>
    <div class="player-header-placeholder"></div>
    <app-user-info-profile *ngIf="hasClass('profile', 'current')"></app-user-info-profile>
    <app-user-info-media *ngIf="hasClass('media', 'current')"></app-user-info-media>
    <app-user-info-stats *ngIf="hasClass('stats', 'current')"></app-user-info-stats>
    <div class="player-header-placeholder-small"></div>
  </div>
</div>
