<div class="row-center-stats centered">
  <h1>Em que competição jogas? </h1>
  <mat-form-field>
    <mat-select [(value)]="selectedLeague" placeholder="Campeonato">
      <mat-option *ngFor="let team of teams" [value]="team">{{team.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <h1>Escolhe a tua equipa</h1>
  <mat-form-field>
    <mat-select [(value)]="selectedTeam" placeholder="Equipa">
      <mat-option *ngFor="let team of teams" [value]="team">
        {{team.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
