.callout {
  border: 0;
}

.player .player-header .player-info h1 {
  font-size: 1.125rem;
  margin: .75rem 0 0 !important;
  height: 1.125rem;
  overflow: hidden;
}

.player .meta .player-image {
  margin : 10px 10px 10px 10px;
  float: left;
  width: 29%;
  position: relative;
  height: 350px;
  overflow: hidden;
  background: white center center no-repeat;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;

}

.player .meta .player-image img{
  object-fit: cover;
  min-height: 100%;
}


.player .meta .player-image .right-shadow {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 500px;
  background: linear-gradient(to left,rgba(255,255,255,255) 0,rgba(255,255,255,255) 10%,rgba(46,47,50,0) 40%);
}


.player .meta .player-image .left-shadow {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 500px;
  background: linear-gradient(to right,rgba(255,255,255,255) 0,rgba(255,255,255,255) 10%,rgba(46,47,50,0) 40%);
}

.player .meta .personal {
  margin: 10px 10px 10px 10px;
  float: right;
  height: 210px;
  width: 21%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
}

.player .meta .personal .rankings-container {
  background: white;
  margin: 1rem 1rem 1rem 0;
}

.player .meta .personal .data {
  padding: 0 1rem;
  font-family: "Museo Sans", sans-serif;
  font-weight: 300;
  font-size: .9375rem;
  width: 50%;
  float: left;
}

.player .player-header-placeholder {
  width: 100%;
  height: 50px;
  background: white;
}

.player .meta .personal .data div {
  margin: .375rem 0;
}

.player .meta .personal .data div strong {
  font-weight: 900;
}

.spacer {
  clear: both;
}

.player .player-header{
  border-radius: 0;
  height: 50px;
  margin: 0 auto !important;
  padding: 0 !important;
  position: fixed;
  z-index: 999;
  width: 100%;
  background: rgba(255,255,255,.9);
}

.player>.meta {
  border-radius: 0;
  padding: 0 !important;
  color: black;
  height: 500px;
  margin: 0;
}

.player .player-header .row {
  background: transparent;
}

.player .player-info {
  float: left;
  width: 45%;
  line-height: 1;
  padding-left: 1rem;
}

.player .team {
  float: left;
  padding: .5rem;
  height: 50px;
}

.player .team img{
  width: auto;
  height: 35px;
}

.player .player-team{
  font-weight: 900;
  color: #b8bac0;
  text-transform: uppercase;
  font-family: "Museo Sans", sans-serif;
}

.player .player-header .player-info .player-team a {
  color: #b8bac0;
}

.player .player-header .player-info .player-team a.current {
  color: darkred;
}

.player .player-menu{
  float: left;
  width: 55%;
}

.player .player-menu a{
  color: #2e2f32;
  display: inline-block;
  line-height: 50px;
  height: 50px;
  padding: 0 .75rem;
  font-size: .875rem;
  font-family: "Museo Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.player .player-menu a.current {
  background: #b3b5bb;
}

.header-placeholder {
  width: 100%;
  height: 79px;
  transition: height 1s;
}

h1 {
  font-family: "Museo Sans", sans-serif;
  background: transparent;
  color: #2e2f32;
  font-size: 2.375rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 !important;
  margin: 0 0 .5rem 0 !important;
  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.player .meta .sportsmagazine-client-detail {
  float: left;
  width: 45%;
  margin: 10px;
  background-color: white;
  height: 210px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
}

.player .meta .sportsmagazine-client-detail tr > td figure ~ .player-stats-text {
  margin: 4px 0px 0px 32px;
  line-height: 0.6;
}

.player .meta .sportsmagazine-client-detail tr > td {
  border: none;
  border-bottom: none;
  border-top: none;
  padding: 5px 5px 5px 5px;
  text-align: left;
  font-size: 12px;
  color: #929292;
}

