.form-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 0 24px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.agreement{
  margin: 30px auto;
}

.search_item{
  color: black;
  display: flex;
  height: 60px;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px;
  border-color: darkgray;
  width: 95%;
}

.search_item img{
  height: 50px;
}

.search_item .search-info{
  margin-left: 10px;
}

mat-select {
  text-align: center;
}

.sc-forms {
}

.list_flag {
  min-width: 14px;
  max-width: 30px;
  min-height: 9px;
}

.table-td {
  position: relative !important;
  min-width: 90px !important;
}

.sc-mat-card-avatar {
  height: 60px !important;
  width: 60px !important;;
  border-radius: 50%;
  flex-shrink: 0;
}

.filter-search-fields {
  width: 100%;
  margin: 20px auto;
  float: left;
}

.filter-search-fields .table td {
  min-width: 100px !important;
}

.mat-chip {
  display: inline-flex !important;
  border-radius: 5px !important;
}

.players-table-filter {
  padding: 0px;
}

.search-button{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.filters {
  margin: 20px auto !important;
  padding: 25px;
  background-color: #cad0d4;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border-radius: 10px;
}

.mat-chip-list-stacked {
  display: flex !important;
}

.table_header {
  color: #032f4f;
}

.table_header tr{
  height: 50px;
}

.table_header th {
  font-size: larger;
}

.table_header th:hover {
  color: white;
}

/* DO NOT DELETE THIS*/
.player .meta .sc-stats-table tr > th, td {
  min-width: 35px;
  padding: 5px 7px;
  font-size: 12px;
  height: 40px;
}

.table-players-search {
  min-width: 80%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  margin: 20px auto;
  background-color: #cad0d4;
  border-radius: 10px;
}
